
@media(min-width: 720px)
    .slider-frame
        ul
            width: 700%
            li
                img
                    width: 100%
                    height: 420px
    
    .marcas
        img
            width: 80px
    
    nav
        #nav_text
            font-size: 0.8rem
        #nav_menu_secciones
            #nav_menu_secciones_centro
                #text_3
                    font-size: 2rem
            #nav_menu_secciones_der
                #anclas
                    text-align: center
                    font-size: 0.8rem
                    width: 120px

    #section_refrigeracion
        #section_refrigeracion_descripcion
            #descripcion
                .logo_y_texto_rf
                    .texto_rf
                        width: 50%
                    .imagen_rf
                        width: 250px
                
    #section_ObrasCivilesMenores
        #section_ObrasCivilesMenores_descripcion
            #descripcion2
                .logo_y_texto_ocm
                    .texto_ocm
                        width: 50%
                    .imagen_ocm
                        width: 320px

    #section_Electricidad
        #section_Electricidad_descripcion
            #descripcion3
                .logo_y_texto_elec
                    .texto_elec
                        width: 50%
                    .imagen_elec
                        width: 335px
            
    #section_Jardineria
        #section_Jardineria_descripcion
            #descripcion4
                .logo_y_texto_jr
                    .texto_jr
                        width: 50%
                    .imagen_jr
                        width: 250px

    footer
        .contactame_text
            .centro_telux
                #text_3
                    font-size: 1.5rem
                #text_4
                    font-size: 0.8rem
            padding: 20px
            img
                width: 64px
            .direccion
                p
                    font-size: 0.8rem
        .contactame_redes
            .redes
                img
                    width: 30px
                    margin-inline: 6px

@media(min-width: 992px)
    .slider-frame
        ul
            width: 700%
            li
                img
                    width: 100%
                    height: 560px
    
    nav
        #nav_menu_secciones
            #nav_menu_secciones_izq
                #logo
                    img
                        width: 70px
            #nav_menu_secciones_centro
            #nav_menu_secciones_der
                #anclas
                    font-size: 0.8rem

    #section_refrigeracion
        #section_refrigeracion_descripcion
            #descripcion
                .logo_y_texto_rf
                    display: flex
                    flex-direction: row
                    width: 100%
                    gap: 10%
                    .texto_rf
                        width: 36%
                    .imagen_rf
                        width: 280px
                        

    #section_ObrasCivilesMenores
        #section_ObrasCivilesMenores_descripcion
            #descripcion2
                .logo_y_texto_ocm
                    display: flex
                    flex-direction: row
                    justify-content: center
                    width: 100%
                    gap: 10%
                    .texto_ocm
                        width: 36%
                    .imagen_ocm
                        width: 40%
            
    #section_Electricidad
        #descripcion_titulo3
        #section_Electricidad_descripcion
            #descripcion3
                .logo_y_texto_elec
                    display: flex
                    flex-direction: row
                    justify-content: center
                    width: 100%
                    gap: 10%
                    .texto_elec
                        width: 36%
                    .imagen_elec
                        width: 40%

    #section_Jardineria
        #section_Jardineria_descripcion
            #descripcion4
                .logo_y_texto_jr
                    display: flex
                    flex-direction: row
                    justify-content: center
                    width: 100%
                    gap: 10%
                    .texto_jr
                        width: 36%
                    .imagen_jr
                        width: 280px

    footer
        .contactame_text
            img
                width: 65px
            .centro_telux
                #text_3
                    font-size: 1.4rem
                #text_4
                    font-size: 0.8rem

@media(min-width: 1200px)
    .slider-frame
        ul
            width: 700%
            li
                img
                    width: 100%
                    height: 700px
    .marcas
        background: white
        img
            width: 100px
    nav
        #nav_text
            font-size: 0.9rem
        #nav_menu_secciones
            padding: 10px 80px
            #nav_menu_secciones_centro
                #text_3
                    font-size: 2.7rem
                #text_4
                    font-size: 0.7rem
            #nav_menu_secciones_izq
                #logo
                    img
                        width: 110px
            #nav_menu_secciones_der
                gap: 30%
                justify-content: space-between
                #anclas
                    font-size: 1rem
                .contenedor_Servicios
                        .contenedor_Servicios_sub
                        &:hover
                            .contenedor_Servicios_sub
                                width: 220px
                                font-size: 0.9rem
                .contenedor_Contacto
                    &:hover
                        .contenedor_Contacto_sub
                            width: 240px
                            font-size: 0.9rem
                            .persona
                                width: 200px
    
    #section_refrigeracion
        // width: 90%
        #section_refrigeracion_descripcion
            #descripcion_titulo
            #descripcion
                .logo_y_texto_rf
                    .texto_rf
                        width: 360px
                        h3
                            font-size: 1.6rem
                        p
                            font-size: 0.9rem
                    .imagen_rf
                        img
                            width: 360px

    #section_ObrasCivilesMenores
        #descripcion_titulo2
            font-size: 1.3rem
        #section_ObrasCivilesMenores_descripcion
            #descripcion2
                .logo_y_texto_ocm
                    .texto_ocm
                        width: 350px
                        h3
                            font-size: 1.6rem
                        p
                            font-size: 0.9rem
                    .imagen_ocm
                        width: 390px

    #section_Electricidad
        #descripcion_titulo3
            font-size: 1.3rem
        #section_Electricidad_descripcion
            #descripcion3
                .logo_y_texto_elec
                    .texto_elec
                        width: 400px
                        h3
                            font-size: 1.6rem
                        p
                            font-size: 0.9rem
                    .imagen_elec
                        width: 450px
        
    #section_Jardineria
        #descripcion_titulo4
            font-size: 1.3rem
        #section_Jardineria_descripcion
            #descripcion4
                .logo_y_texto_jr
                    gap: 5%
                    .texto_jr
                        width: 350px
                        h3
                            font-size: 1.6rem
                        p
                            font-size: 1rem
                    .imagen_jr
                        width: 270px
    
    footer
        .contactame_text
            img
                width: 75px
            .direccion
                display: flex
                gap: 10px
                p
                    font-size: 0.9rem
            .redes
                gap: 15px

@media(min-width: 1700px)
    .slider-frame
        ul
            width: 700%
            li
                img
                    width: 100%
                    height: 760px
    
    footer
        .contactame_text
            .centro_telux
                #text_3
                    font-size: 1.7rem
                #text_4
                    font-size: 0.9rem
            .direccion
                p
                    font-size: 1rem

